*.log
*.pot
*.pyc
local_settings.py
.idea/
app_visoon/__pycache__/
app_visoon/migrations/__pycache__/
app_wechat/__pycache__/
app_wechat/migrations/__pycache__/
config/__pycache__/
migrations/
__pycache__/
app_blog/__pycache__/
app_blog/apis/__pycache__/
app_blog/migrations/__pycache__/
app_blog/views/__pycache__/
app_book/__pycache__/
app_book/migrations/__pycache__/
app_image/__pycache__/
app_image/migrations/__pycache__/
app_message/__pycache__/
app_message/migrations/__pycache__/
app_movie/__pycache__/
app_movie/migrations/__pycache__/
app_poem/__pycache__/
app_poem/migrations/__pycache__/
app_spider/__pycache__/
app_spider/api/__pycache__/
app_spider/api/book/__pycache__/
app_spider/api/images/__pycache__/
app_spider/api/job/__pycache__/
app_spider/api/movie/__pycache__/
app_spider/api/poem/__pycache__/
app_spider/api/proxies/__pycache__/
app_spider/migrations/__pycache__/
app_system/__pycache__/
app_system/migrations/__pycache__/
app_user/__pycache__/
app_user/migrations/__pycache__/
libs/__pycache__/
libs/spider/__pycache__/
libs/spider/image_spider/__pycache__/
libs/spider/job/__pycache__/
libs/spider/movie_spider/__pycache__/
libs/spider/poem_spider/__pycache__/
libs/spider/proxies/__pycache__/
libs/util/__pycache__/
/config/datebases.py
